/* Typography */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000080;
}

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    color: #FF7F50;
}



/* Layout */


/* Media */